---
layout: default
title: Welcome
---


{% for post in site.posts limit 5 %}

<article class='post'>
  <h1 class='post-title'>
    <a href="{{ site.path }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>
  <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>

  <div>
  {{ post.content | split:'<!--preview-->' | first }}
  </div>
	
  {% if post.content contains '<!--preview-->' %}
    <span class="right"><a href="{{ site.path }}{{ post.url }}">Read more<a></span>
  {% endif %}

</article>

{% endfor %}

